.booklist, .book-details{
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    padding: 3rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-img img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.book-item-info{
    margin-top: 2rem;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.book-item-info-item.publish-year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}
.addcart{
    height: 5vh;
    width: 10vw;
    /* background-color: brown; */
    display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.addcart:hover {
    background-color: #0056b3;
  }
  
  .addcart:active {
    background-color: #003d80;
  }
 .removecart{
    height: 5vh;
    width: 10vw;
    /* background-color: brown; */
    display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #b30f3e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }
 .placeorder{
    height: 6vh;
    width: 10vw;
    /* background-color: brown; */
    display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #da790c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 87vw;
 }

 .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container textarea,
  .form-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  .form-container select {
    height: 40px;
  }
  
  .form-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
  }
  
  .form-container ul li {
    margin-bottom: 5px;
  }
  
  .form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .form-container button[type="submit"]:active {
    background-color: #003d80;
  }
  



.list{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 600px){
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .book-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img{
        max-width: 120px;
    }
}